@model Stage.Models.User

<h2>Créer un Administrateur</h2>

<form asp-action="CreateAdmin" method="post">
    <div>
        <label>Email</label>
        <input type="email" asp-for="Email" required />
    </div>
    <div>
        <label>Mot de passe</label>
        <input type="password" asp-for="Password" required />
    </div>
    <button type="submit">Créer</button>
</form>
