@model IEnumerable<Stage.Models.User>

@{
    ViewData["Title"] = "Liste des Useristrateurs";
}

<div class="container mt-5">
    <h2 class="text-center">Liste des Useristrateurs</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nom d'Utilisateur</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var User in Model)
            {
                <tr>
                    <td>@User.Username</td>
                    <td>@User.Email</td>
                    <td>@User.Role</td>
                    <td>
                        <a asp-action="DeleteUser" asp-route-id="@User.Id" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
