@{
    ViewData["Title"] = "Accueil";
}

<div class="hero-section">
    <div class="hero-content">
        <h1 class="fun-heading">Bienvenue à ClubMaster</h1>

        <p>Gérez efficacement nos membres, entraînements, et statistiques en toute simplicité.</p>
        <a href="#" class="btn btn-primary">Accédez à la Gestion</a>
    </div>
    <div class="hero-image">
        <img src="https://www.crossbook.eu/wp-content/uploads/2023/09/two-young-fighters-kimono-training-martial-arts-gym-2048x1365.jpg" alt="ClubMaster image">
    </div>
</div>

<!-- Training Section -->
<div class="training-section">
    <h2>Gestion des Entraînements</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2021/04/Cardio-indoor-bike.jpg?quality=82&strip=all" class="img-fluid" alt="Cardio Training">
            <h3>Planification des Sessions Cardio</h3>
            <p>Programmez et gérez les séances cardio pour nos équipes.</p>
        </div>
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/547419374/fr/photo/athl%C3%A8te-muscl%C3%A9-tirant-un-tra%C3%AEneau-de-pneus.jpg?s=612x612&w=0&k=20&c=6BtG1cuJUDFQmkSg0nS3bN12ZctByJzMNaoAoTMCnR4=" class="img-fluid" alt="Training 2">
            <h3>Entraînements de Force</h3>
            <p>Gérez les séances de musculation pour un meilleur suivi des performances.</p>
        </div>
        <div class="col-md-4">
            <img src="https://img.freepik.com/photos-premium/etirement-yoga-portrait-femme-pose-triangulaire-exercice-gymnastique-au-bien-etre-du-corps-sain-au-pilates-fitness-groupe-heureux-trikonasana-equilibrent-flexibilite-pratique-club-ensemble_590464-258848.jpg" class="img-fluid" alt="Yoga et Flexibilité">
            <h3>Sessions de Yoga</h3>
            <p>Organisez des séances de yoga pour améliorer la flexibilité des membres.</p>
        </div>
    </div>
</div>

<!-- Statistics Section -->
<div class="stats-section">
    <h2>Suivi des Statistiques</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="https://cdn.pixabay.com/photo/2018/02/27/17/40/graph-3186077_1280.png" class="img-fluid" alt="Statistics">
        </div>
        <div class="col-md-6">
            <h3>Statistiques Clés</h3>
            <ul>
                <li>Nombre total de membres : 250</li>
                <li>Sessions actives cette semaine : 15</li>
                <li>Performance moyenne des équipes : 85%</li>
            </ul>
        </div>
    </div>
</div>


