@{
    ViewData["Title"] = "Politique de Confidentialité";
}

<h1>@ViewData["Title"]</h1>

<p>Votre vie privée est primordiale pour nous. Nous collectons et utilisons vos informations pour améliorer nos services, tout en respectant rigoureusement votre droit à la confidentialité.</p>

<h2>Les Informations Que Nous Collectons</h2>
<p>Nous recueillons les informations que vous nous fournissez directement, comme votre nom, votre adresse e-mail, et toute autre donnée nécessaire pour vous offrir une meilleure expérience utilisateur.</p>

<h2>Comment Nous Utilisons Vos Données</h2>
<p>Nous utilisons vos données pour personnaliser nos services, améliorer nos produits et, le cas échéant, vous envoyer des mises à jour importantes. Soyez assurés que nous ne vendons ni ne partageons vos informations à des tiers, sauf dans le cadre légal nécessaire.</p>

<h2>Vos Droits</h2>
<p>Vous avez un contrôle total sur vos données. À tout moment, vous pouvez accéder, modifier, ou supprimer vos informations en nous contactant. Notre priorité est de rendre ce processus aussi simple que possible.</p>

<h2>Notre Engagement en Matière de Sécurité</h2>
<p>La sécurité de vos données est au cœur de nos préoccupations. Nous mettons en œuvre des mesures techniques de pointe pour garantir la protection de vos informations contre toute utilisation abusive ou accès non autorisé.</p>

<h2>Mises à Jour de la Politique</h2>
<p>Cette politique de confidentialité évoluera avec nos services. Nous vous tiendrons informés de tout changement majeur, mais rassurez-vous, notre engagement à protéger votre vie privée reste inébranlable.</p>

<p style="margin-top:20px; font-weight:bold;">Simple. Transparent. Sécurisé.</p>

<p>Pour toute question ou préoccupation, n'hésitez pas à nous contacter. Nous sommes là pour vous.</p>
